*{
    box-sizing: border-box;
}

html,
body{
    background: gray;
    height: 100%;
    margin: 0;
    width: 100%;
}

.flex-container {
    border: solid 10px pink;
}

.flex-container div {
    color: aqua;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.flex-container div.azul {
    background: blue;
}
.flex-container div.rojo {
    background: red;
}

.flex-container div.verde {
    background: green;
}