
body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: #e7e9f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

nav {
    position: sticky;
    top: 3px;
    background: transparent;
    padding: 3px;
    text-align: center;
    border-bottom: 1px solid black;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-left: 10px;
}

li {
    display: inline-block;
    margin-right: 20px;
}

a {
    color: black;
    text-decoration: none;
    padding: 15px;
}

img {
    max-height: 50px;
    margin-right: 4px;
}

a:hover {
    text-decoration: overline;
    color: black;
}

.texto1 {
    display: inline-block;
    padding: 10px;
    margin-left: 10px;
}

.btt-compra {
    background: orange;
    display:flex;
    width: 150px;
    height: auto;
    border-radius: 15px;
}

.img-der {
    position: absolute;
    display: inline-block;
    margin: 0 0 40px 200 px;
    max-width: 50px;
}